<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <%= stylesheet_link_tag "rageriffic.css" %>
        <script type="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <%= javascript_include_tag "dynamic_content.js" %>
        <%=javascript_include_tag "jquery.webcam.js" %>
        <%=javascript_include_tag "test.js" %>
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id = "welcome" class="title"><%= image_tag "welcome.png" %></div>
            <div id = "logo" class="title hidden"><%= image_tag "ragerifficlogo.png" %></div>

            <div id="webcamcontainer">
            </div>

            <div class="imagediv">
                <h1 class="h1words">waiting for others to join</h1>
                <h1 class="h1words">be vain for a little bit</h1>
                <h1 class="h1words">ask your friends to join via</h1>
                <h1 class="h1words"><strong><%= @url %></strong></h1>
            </div>
        </div>
    </body>
</html>
