<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <%= stylesheet_link_tag "rageriffic.css" %>
        <script type="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <%= javascript_include_tag "dynamic_content.js" %>
        <%=javascript_include_tag "jquery.webcam.js" %>
        <%=javascript_include_tag "test.js" %>
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id = "welcome" class="title"><%= image_tag "welcome.png" %></div>
            <div id = "logo" class="title hidden"><%= image_tag "ragerifficlogo.png" %></div>

            <div id="camerainterface">
            </div>

            <div class="imagediv">
                <h1>waiting for others to join</h1>
                <h1>be vain for a little bit</h1>
                <div class = "usersize" id = "webcamcontainer">
                    <object id="webcam-object" width="320" height="240" data="../../../public/jscam_canvas_only.swf" type="application/x-shockwave-flash">
                        <param value="../../../public/jscam_canvas_only.swf" name="movie">
                        <param value="mode=callback&quality=85" name="FlashVars">
                    </object>
                </div>
            </div>

            <div id="userscount"
        </div>
    </body>
</html>
