<!DOCTYPE html>
<html>
  <head>
    <title>Rageriffic</title>
    <%=stylesheet_link_tag "rageriffic.css"%>
    <%=javascript_include_tag "jquery-1.7.2.min.js" %>
    <%=javascript_include_tag "stuff.js" %>
    <%=javascript_include_tag "dynamic_content.js" %>
    <%=javascript_include_tag "jquery.webcam.js" %>
    <%=javascript_include_tag "test.js" %>
    <%=javascript_include_tag "jquery-ui-1.8.20.custom.min.js" %>
    <%=stylesheet_link_tag "jquery.ui.chatbox.css" %>
    <%=javascript_include_tag "jquery.ui.chatbox.js" %>
    <%=javascript_include_tag "http://chat-serv.heroku.com/nowjs/now.js" %>
    <script>
      $(document).ready(function() {
        var username = window.name;

        $("#chat_div").chatbox({id : "chat_div",
                                  title : "Chat",
                                  user : username,
                                  offset: 4,
                                  messageSent: function(id, user, msg){
                                       now.distributeMessageToRound(msg);
                                  }});

        now.name = username;
        now.round = window.rid;

        now.receiveMessage = function(name, message) {
          $("#chat_div").chatbox("option", "boxManager").addMsg(name, message);
        };

        now.receiveMessageIfSameRound = function(name, message, round) {
          if (round === now.round)
            now.receiveMessage(name, message);
        };
      });
    </script>
  </head>
  
  <body>
    <div id = "chat_div"></div>
        <div id="addfriends">
            <h1 class="h1words">ask your friends to join via: <strong><%= @url %></strong></h1>
        </div>
    <div id = "contentcontainer">
      <h1 id="linkbar"><div class="linkbutton"><%= link_to "New Game", :controller => :rounds, :action => :start_game %></div><div class="linkbutton"><%= link_to "About", :controller => :game, :action => :about %></div></h1>

        <div id = "welcome" class="title"><%= image_tag "welcome.png" %></div>
        <div id = "logo" class="title hidden"><%= image_tag "ragerifficlogo.png" %></div>


        <div class="imagediv">
            <h1 class="h1words">waiting for others to join</h1>
            <h1 class="h1words">be vain for a little bit.</h1>
            <h1 class="h1words">There are <span id="joincount"></span> participants.</h1>
        </div>

        <div id="camerainterface">
            <script type="text/javascript">
                var pos = 0;
                var ctx = null;
                var cam = null;
                var image = null; 

                jQuery("#camerainterface").webcam({
                  width: 320,
                  height: 240,
                  mode: "callback",
                  swffile: "/jscam_canvas_only.swf",

                  onTick: function(remain) {
                    if (0 == remain) {
                    jQuery("#status").text("Cheese!");
                    } else {
                    jQuery("#status").text(remain + "...");
                    }
                  },
                  
                  onSave: function(data) {
                      var col = data.split(";");
                      var img = image;

                      for(var i = 0; i < 320; i++) {
                        var tmp = parseInt(col[i]);
                        img.data[pos + 0] = (tmp >> 16) & 0xff;
                        img.data[pos + 1] = (tmp >> 8) & 0xff;
                        img.data[pos + 2] = tmp & 0xff;
                        img.data[pos + 3] = 0xff;
                        pos+= 4;
                      }
                      
                      if (pos >= 0x4B000) {
                        ctx.putImageData(img, 0, 0);
                        pos = 0;
                        $("#webcam-object").remove();
                        var canvas = $("#canvas").show();
                        $("#status").remove();
                        var dataURL = canvas[0].toDataURL('image/png');
                        var encodedImage = dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                        UploadToImgur(encodedImage);
                      }
                  },

                  onCapture: function () {
                  webcam.save();
                  },
                  
                  debug: function (type, string) {
                  jQuery("#status").html(type + ": " + string);
                  },

                  onLoad: function () {  }
                });
                window.addEventListener("load", function() {
                  var canvas = document.getElementById("canvas");
                  if (canvas.getContext) {
                    ctx = document.getElementById("canvas").getContext("2d");
                    ctx.clearRect(0, 0, 320, 240);
                    var img = new Image();
                    img.src = "";
                    img.onload = function() {
                      ctx.drawImage(img, 129, 89);
                    }
                    image = ctx.getImageData(0, 0, 320, 240);
                  }
                  $(canvas).hide();
                }, false);
            </script>
        <br />
        <!-- COUNTDOWN until picture taken -->
        <canvas id="canvas" width="320" height="240"></canvas>
        <!--<button onclick="webcam.capture(3);void(0);" class="button" id="takepicture"></button>-->
        <div id="status"></div>
      </div>
      <br clear = "all" />

    </div>
  </body>
</html>
