<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <%= stylesheet_link_tag "rageriffic.css" %>
        <%=javascript_include_tag "jquery-1.7.2.min.js" %>
        <%=javascript_include_tag "stuff.js" %>
        <%=javascript_include_tag "join_content.js" %>
    </head>
    
    
    <body>
        <div id = "contentcontainer">
          <h1 id="linkbar"><div class="linkbutton"><%= link_to "New Game", "/" %></div><div class="linkbutton"><%= link_to "About", "about" %></div></h1>

            <div id="welcome" class = "title"><%= image_tag "welcome.png" %></div>
            
            <div class="imagediv">
              <h1 class="h1word">You will be shown a random <strong>RAGEFACE</strong>.</h1>
              <h1 class="h1word">It's up to you to mimic that face as well as you can!</h1>
              <h1 class="h1word">You and your friends will vote for who made the best face. That's it!</h1>
            </div>

            <form id="nameform" action="/rounds/play" method="get">
                <input id="inputuser" type="text" placeholder="Insert Username" name="name" /><br />
                <input id = "joinbutton" class = "button" type="submit" value="join" />
            </form>

        </div>
    </body>
</html>
